<tr>
	<td><%= hole.label %></td>
	<td><%= hole.tee_1_length %></td>
	<td><%= hole.tee_1_par %></td>
	<td><%= hole.tee_2_length %></td>
	<td><%= hole.tee_2_par %></td>
	<td><%= hole.tee_3_length %></td>
	<td><%= hole.tee_3_par %></td>
	<td><%= hole.tee_4_length %></td>
	<td><%= hole.tee_4_par %></td>
</tr>
