<tr>
	<td><%= hole.label %></td>
	<td><%= hole.length_1 %></td>
	<td><%= hole.par_1 %></td>
	<td><%= hole.length_2 %></td>
	<td><%= hole.par_2 %></td>
	<td><%= hole.length_3 %></td>
	<td><%= hole.par_3 %></td>
	<td><%= hole.length_4 %></td>
	<td><%= hole.par_4 %></td>
</tr>
