<h1>All Courses</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Holes</th>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zip</th>
		<th>Description</th>
	</tr>

	<% @courses.each do |course| %>
		<tr>
			<td><%= course.name %></td>
			<td><%= course.number_of_holes %></td>
			<td><%= course.address %></td>
			<td><%= course.city %></td>
			<td><%= course.state %></td>
			<td><%= course.zip %></td>
			<td><%= course.description %></td>
		</tr>
	<% end %>
</table>
